body{
    background-color: rgb(225, 227, 228);
    width: 100%;
    height: 900px;
    
}


header{
    margin-top: 25px;
    margin-bottom: 25px
    
}
nav{
    background-color: aqua;
    width: 100%;
    height: 50px;
    text-align: center;
}

li{
    display: inline-block;
    list-style-type: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    

    
}

article{
    background-color: blue;
    width: 65%;
    height: 700px;
    
}

section{
    background-color: brown;
    float: left;
    width: 25%;
    height: 700px;

}

aside{
    background-color: blueviolet;
    float: left;
    width: 40%;
    height: 700px;
}

footer{
    background-color: azure;
    float: none;
    height: 80px;
}
#img{
    width: 30%;
    height: 90px;
    margin-left: auto;
}