body{
    background-color: rgb(225, 227, 228);
    width: 100%;
    height: 900px;
    
}


header{
    color: black;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 39px;
    margin-top: 25px;
}
nav{
    background-color: aqua;
    width: 100%;
    height: 35px;
    text-align: center;
}

li{
    display: inline-block;
    list-style-type: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    
}
